@{
    ViewData["Title"] = "TTS";
}
@model TTS
<div class="text-center">    
    <button id="autorizar" type ="button" href>Autorizar</button>
</div>

<script src="~/js/tmi.js" asp-append-version="true"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    $("#autorizar").click(function () {
        location.replace('https://id.twitch.tv/oauth2/authorize?response_type=token&client_id=1xlpagj0ylfo47l43o0jukcfr6pxc9&redirect_uri=http://localhost:7172/Home/TTS&scope=chat:read');
    });
</script>
